In [1]:
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.chrome.options import Options
global browser
import numpy as np
import pandas as pd
import time

path = "D:\Software\chromedriver\chromedriver.exe" #此处需要修改为本地chromedriver地址
browser = webdriver.Chrome(executable_path=path) #打开浏览器

In [2]:
#页面抓取数据方法
def getdata(browser):
    t1s = browser.find_elements_by_class_name('t1')
    t2s = browser.find_elements_by_class_name('t2')
    t3s = browser.find_elements_by_class_name('t3')
    t4s = browser.find_elements_by_class_name('t4')
    t5s = browser.find_elements_by_class_name('t5')
    n = 0
    tt = [t1s,t2s,t3s,t4s,t5s]
    tts = [[],[],[],[],[]]
    m =0
    for j in tt:
        n =0
        for i in j:
            if n > 0:
                tts[m].append(i.text)
            n = n+1
        m = m +1

    t1 = pd.DataFrame(tts[0],columns=['title'])
    company = pd.DataFrame(tts[1],columns=['company'])
    place = pd.DataFrame(tts[2],columns=['place'])
    salary = pd.DataFrame(tts[3],columns=['salary'])
    publish_time = pd.DataFrame(tts[4],columns=['publish_time'])
    careers = t1.join(company).join(place).join(salary).join(publish_time)
    return careers

In [14]:
#分页抓取数据
df = pd.DataFrame(columns=['title', 'company', 'place', 'salary', 'publish_time'])
for i in range(6):
    page = str(i+1)
    url = "https://search.51job.com/list/000000,000000,0000,00,9,99,%25E6%2595%25B0%25E6%258D%25AE%25E6%258C%2596%25E6%258E%2598,2,"+page+".html?lang=c&stype=&postchannel=0000&workyear=99&cotype=99&degreefrom=99&jobterm=99&companysize=99&providesalary=99&lonlat=0%2C0&radius=-1&ord_field=0&confirmdate=9&fromType=&dibiaoid=0&address=&line=&specialarea=00&from=&welfare="    
    browser.get(url)
    tmp = getdata(browser) #抓取页面数据
    #print(tmp.tail(1))
    df = df.append(tmp)

In [16]:
df.tail()

            title              company   place      salary publish_time
45        数据挖掘工程师        MobData大数据云平台  上海-徐汇区    1.5-2万/月        02-12
46        数据挖掘实习生         释斯科技（上海）有限公司  杭州-余杭区      200元/天        02-10
47  软件工程师（数据挖掘方向）           方大集团股份有限公司  深圳-南山区      2-4万/月        02-09
48      高级数据挖掘分析师         成都海天数联科技有限公司  成都-高新区  1.5-2.5万/月        02-09
49        数据挖掘工程师  普育吧科教技术（北京）有限公司华...      武汉    1-1.5万/月        02-08

In [19]:
#将数据保存到csv文件
df = df.reset_index().drop('index',axis=1)
df.to_csv('前程无忧_数据挖掘.csv')